@use '../utils' as *;
@use '../variables' as *;

h1,
h2,
h3,
p {
  margin-block: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

ul {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}

button {
  display: block;
  padding-inline: 0;
  font-family: $mainFont;
  border-width: 0;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline-color: $teal-color;
    outline-width: 1px;
  }
}

input,
textarea {
  padding: 0;
  border: none;

  &:focus,
  &:focus-visible {
    outline-color: $magenta-color;
    outline-width: thin;
    outline-style: solid;
    caret-color: $magenta-color;
  }
}

input {
  &[type='checkbox'] {
    margin: 0;
  }
}

textarea {
  resize: none;
}
