@import '/src/styles/variables';

.label {
  position: relative;

  &:has(textarea.input) {
    max-height: 124px;
  }

  input.input,
  textarea.input {
    min-width: 100%;
    padding: 12px;
    background: $eerie-color;
    border-radius: 12px;
    color: $white-color;
    font: inherit;

    &::placeholder {
      color: $carbon-color;
    }

    &:invalid {
      color: $magenta-color;
    }

    + .input__error {
      position: absolute;
      left: 0;
      left: 0;
      bottom: 0;
      transform: translate(0, calc(100% + 4px));
      height: min-content;
      font: $inputErrorFontStyle;
      color: $magenta-color;
    }
  }
  textarea.input {
    height: 124px;
  }
}
