@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 400;
  src:
    url('../../assets/fonts/JetBrainsMono/Regular/JetBrainsMono-Regular.woff2')
      format('woff2'),
    url('../../assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf')
      format('ttf');
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 500;
  src:
    url('../../assets/fonts/JetBrainsMono/Medium/JetBrainsMono-Medium.woff2')
      format('woff2'),
    url('../../assets/fonts/JetBrainsMono/Medium/JetBrainsMono-Medium.ttf')
      format('ttf');
}

@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 700;
  src:
    url('../../assets/fonts/JetBrainsMono/Bold/JetBrainsMono-Bold.woff2')
      format('woff2'),
    url('../../assets/fonts/JetBrainsMono/Bold/JetBrainsMono-Bold.ttf')
      format('ttf');
}
