@import '/src/styles/variables/index';
@import '/src/styles/mixins/gradient-border';

.dropdown {
  padding-top: 10px;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 3;
  border-radius: 28px;

  &Content {
    margin-top: 1px;
    margin-top: 1px;
    width: 250px;
    position: relative;

    @include addGradientBorder(
      $eerie-color,
      $main-gradient,
      28px,
      28px,
      1px,
      -2
    );

    .buttonList {
      padding: 12px;
      width: 100%;
      max-height: 234px;
      overflow: hidden;
      overflow-y: scroll;
      display: inline-flex;
      flex-direction: column;
      gap: 12px;

      .buttonItem {
        font: $buttonFontStyle;
      }

      .button {
        cursor: pointer;
        width: 100%;
        padding: 12px 16px;
        border-radius: 64px;
        text-align: start;
        border: 1px solid $carbon-color;
        color: $white-color;

        &:hover {
          border-color: transparent;
          background-color: $carbon-color;
        }
      }
    }
  }
}
