@import "/src/styles/variables/colors";

.popup {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border-radius: 20px;
  position: relative;
  max-width: 850px;
  width: 100%;
  cursor: default;
  z-index: 10;
  background-color: transparentize($carbon-color, 0.5);
  backdrop-filter: blur(10px);

  .closeButton {
    &:hover {
      svg path {
        fill: $magenta-color;
            transition: all 0.3s ease;
      }
    }

    position: absolute;
    top: 24px;
    right: 24px;
    svg path {
      fill: $dust-color;
    }
  }
}
